
body {
    background: radial-gradient(#666, #222);
    overflow: hidden;
}

.popup {
    position: absolute;
    width: 300px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px 0 20px 0;
    cursor:default;
    transform-style: preserve-3d;
    background: -webkit-linear-gradient(top left, white 50%, coral 50%);
    background: -moz-linear-gradient(top left, white 50%, coral 50%);
    background: -ms-linear-gradient(top left, white 50%, coral 50%);
    background: -o-linear-gradient(top left, white 50%, coral 50%);
    background: linear-gradient(top left, white 50%, coral 50%);
}

.popup-content {
    background: #444;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px 0 10px 0;
}

.popup-text {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 100;
    text-align: center;
    transform: translateZ(15px);
}

    .popup-text b {
        color: coral;
        font-weight: 300;
    }

    #EmployeeName{
        margin-left:500px;
       width:550px;

    }