@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Result</title>
</head>
<body>
    <div>
        Morse Code: @MorseCode.Controllers.HomeController.Data
        <br />
        <br />
        TXT: @MorseCode.Controllers.HomeController.dt
    </div>
</body>
</html>